[submodule "lib/fadecandy"]
	path = lib/fadecandy
	url = https://github.com/CodeMaterial/fadecandy
[submodule "libs"]
	path = lib/fakecandy
	url = https://github.com/CodeMaterial/fakecandy
[submodule "lib/fakecandy"]
	path = lib/fakecandy
	url = https://github.com/CodeMaterial/fakecandy
[submodule "scripts/fakecandy"]
	path = scripts/fakecandy
	url = https://github.com/CodeMaterial/fakecandy
[submodule "lib/easywsclient"]
	path = lib/easywsclient
	url = https://github.com/dhbaird/easywsclient
[submodule "lib/tomlplusplus"]
	path = lib/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
